{
  "root": true,
  "extends": [
    "eslint:recommended",
    "airbnb-base",
    "plugin:@typescript-eslint/recommended",
    "prettier",
    "plugin:import/recommended",
    "plugin:import/typescript"
  ],

  "plugins": ["@typescript-eslint", "import"],
  "parser": "@typescript-eslint/parser",

  "parserOptions": {
    "tsconfigRootDir": "./",
    "ecmaVersion": "latest",
    "sourceType": "module",
    "project": ["./tsconfig.json"]
  },

  "rules": {
    "import/no-unresolved": "error",
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
    "import/extensions": "off",
    "import/prefer-default-export": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "no-console": "off"
  },

  "overrides": [],
  "globals": {
    "NodeJS": true,
    "chrome": true,
    "browser": true
  },
  "env": { "node": true, "browser": true, "shared-node-browser": true },

  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [".ts", ".tsx"]
    },
    "import/resolver": {
      "typescript": {
        "alwaysTryTypes": true, // always try to resolve types under `<root>@types` directory even it doesn"t contain any source code, like `@types/unist`
        "project": "./"
      }
    }
  }
}
